Samples/TestBed/Chapter4/golfer.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % clubTypes "(TaylorMade?,Cobra?,TommyArmour?,Titliest?)">
<!ELEMENT Cobra (#PCDATA)>
<!ELEMENT TaylorMade (#PCDATA)>
<!ELEMENT Titliest (#PCDATA)>
<!ELEMENT TommyArmour (#PCDATA)>
<!ELEMENT clubsUsed %clubTypes;>
<!ELEMENT clubPreference %clubTypes;>
<!ELEMENT golfer (clubsUsed, clubPreference)>
