Samples/TestBed/Chapter4/Listing4.7.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:complexType name="animal">
		<xsd:sequence>
			<xsd:element name="furColor" type="xsd:string" maxOccurs="unbounded" />
			<xsd:element name="legCount" type="xsd:int" />
			<xsd:element name="weight" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="feline">
		<xsd:complexContent>
			<xsd:extension base="animal">
				<xsd:sequence>
					<xsd:element name="meows" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="canine">
		<xsd:complexContent>
			<xsd:extension base="animal">
				<xsd:sequence>
					<xsd:element name="barks" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="cat" type="feline" />
</xsd:schema>