Samples/TestBed/Chapter4/Listing4.6.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="course">
		<xsd:complexType>
			<xsd:attribute name="city" type="xsd:string" use="required" />
			<xsd:attribute name="state" type="xsd:string" use="required" />
			<xsd:attribute name="name" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="favoriteCourses">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="course" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="firstName" type="xsd:string" />
	<xsd:element name="golfer">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="name" />
				<xsd:element ref="favoriteCourses" />
			</xsd:sequence>
			<xsd:attribute name="skill" type="xsd:string" use="required" />
			<xsd:attribute name="handicap" type="xsd:int" use="required" />
			<xsd:attribute name="clubs" type="xsd:string" use="required" />
			<xsd:attribute name="id" type="xsd:short" use="required" />
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="golfers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="golfer" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="lastName" type="xsd:string" />
	<xsd:element name="name">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="firstName" />
				<xsd:element ref="lastName" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>