Samples/TestBed/Chapter4/northwind.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema id="northwind" targetNamespace="http://www.northwind.com" xmlns="http://www.northwind.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">This Schema validates against northwind.xml</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CustomersTable" maxOccurs="unbounded" />
				<xsd:element ref="OrdersTable" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomersTable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CustomerID" type="xsd:string" />
				<xsd:element name="CompanyName" type="xsd:string" minOccurs="0" />
				<xsd:element name="ContactName" type="xsd:string" minOccurs="0" />
				<xsd:element name="ContactTitle" type="xsd:string" minOccurs="0" />
				<xsd:element name="Address" type="xsd:string" minOccurs="0" />
				<xsd:element name="City" type="xsd:string" minOccurs="0" />
				<xsd:element name="Region" type="xsd:string" minOccurs="0" />
				<xsd:element name="PostalCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="Country" type="xsd:string" minOccurs="0" />
				<xsd:element name="Phone" type="xsd:string" minOccurs="0" />
				<xsd:element name="Fax" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
		<xsd:unique name="CustomerID_PK">
			<xsd:selector xpath="." />
			<xsd:field xpath="CustomerID" />
		</xsd:unique>
	</xsd:element>
	<xsd:element name="OrdersTable">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="OrderID" type="xsd:int" />
				<xsd:element name="CustomerID" type="xsd:string" />
				<xsd:element name="EmployeeID" type="xsd:int" minOccurs="0" />
				<xsd:element name="OrderDate" type="xsd:dateTime" minOccurs="0" />
				<xsd:element name="RequiredDate" type="xsd:dateTime" minOccurs="0" />
				<xsd:element name="ShippedDate" type="xsd:dateTime" minOccurs="0" />
				<xsd:element name="ShipVia" type="xsd:int" minOccurs="0" />
				<xsd:element name="Freight" type="xsd:float" minOccurs="0" />
				<xsd:element name="ShipName" type="xsd:string" minOccurs="0" />
				<xsd:element name="ShipAddress" type="xsd:string" minOccurs="0" />
				<xsd:element name="ShipCity" type="xsd:string" minOccurs="0" />
				<xsd:element name="ShipRegion" type="xsd:string" minOccurs="0" />
				<xsd:element name="ShipPostalCode" type="xsd:string" minOccurs="0" />
				<xsd:element name="ShipCountry" type="xsd:string" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
		<xsd:unique name="OrderID_PK">
			<xsd:selector xpath="." />
			<xsd:field xpath="OrderID" />
		</xsd:unique>
		<xsd:keyref name="Customers_Orders_Constraint" refer="CustomerID_PK">
			<xsd:selector xpath="." />
			<xsd:field xpath="CustomerID" />
		</xsd:keyref>
	</xsd:element>
</xsd:schema>