Samples/TestBed/Chapter10/listing10.11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:urt="http://microsoft.com/urt/wsdl/text/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://www.TomorrowsLearning.com/Greeting" targetNamespace="http://www.TomorrowsLearning.com/Greeting" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.TomorrowsLearning.com/Greeting">
      <s:element name="Greet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="name" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GreetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GreetResult" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </types>
  <message name="GreetSoapIn">
    <part name="parameters" element="s0:Greet" />
  </message>
  <message name="GreetSoapOut">
    <part name="parameters" element="s0:GreetResponse" />
  </message>
  <message name="GreetHttpGetIn">
    <part name="name" type="s:string" />
  </message>
  <message name="GreetHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="GreetHttpPostIn">
    <part name="name" type="s:string" />
  </message>
  <message name="GreetHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="GreetingSoap">
    <operation name="Greet">
      <input message="s0:GreetSoapIn" />
      <output message="s0:GreetSoapOut" />
    </operation>
  </portType>
  <portType name="GreetingHttpGet">
    <operation name="Greet">
      <input message="s0:GreetHttpGetIn" />
      <output message="s0:GreetHttpGetOut" />
    </operation>
  </portType>
  <portType name="GreetingHttpPost">
    <operation name="Greet">
      <input message="s0:GreetHttpPostIn" />
      <output message="s0:GreetHttpPostOut" />
    </operation>
  </portType>
  <binding name="GreetingSoap" type="s0:GreetingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Greet">
      <soap:operation soapAction="http://www.TomorrowsLearning.com/Greeting/Greet" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GreetingHttpGet" type="s0:GreetingHttpGet">
    <http:binding verb="GET" />
    <operation name="Greet">
      <http:operation location="/Greet" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="GreetingHttpPost" type="s0:GreetingHttpPost">
    <http:binding verb="POST" />
    <operation name="Greet">
      <http:operation location="/Greet" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="Greeting">
    <port name="GreetingSoap" binding="s0:GreetingSoap">
      <soap:address location="http://localhost/TestBed/Chapter10/listing10.6.asmx" />
    </port>
    <port name="GreetingHttpGet" binding="s0:GreetingHttpGet">
      <http:address location="http://localhost/TestBed/Chapter10/listing10.6.asmx" />
    </port>
    <port name="GreetingHttpPost" binding="s0:GreetingHttpPost">
      <http:address location="http://localhost/TestBed/Chapter10/listing10.6.asmx" />
    </port>
  </service>
</definitions>