Samples/TestBed/Chapter9/httpSelect.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="Customers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Orders">
					<xsd:complexType>
						<xsd:attribute name="OrderID" type="xsd:string" use="required" />
						<xsd:attribute name="CustomerID" type="xsd:string" use="required" />
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="CustomerID" type="xsd:string" use="required" />
			<xsd:attribute name="ContactName" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>