Samples/TestBed/Web References/ACME.Distribution/listing10.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.ACMEDistribution.com/Products" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.ACMEDistribution.com/Products" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ACMEDistribution.com/Products">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="CheckStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckStockResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrdersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="CheckStockSoapIn">
    <part name="parameters" element="s0:CheckStock" />
  </message>
  <message name="CheckStockSoapOut">
    <part name="parameters" element="s0:CheckStockResponse" />
  </message>
  <message name="GetOrdersSoapIn">
    <part name="parameters" element="s0:GetOrders" />
  </message>
  <message name="GetOrdersSoapOut">
    <part name="parameters" element="s0:GetOrdersResponse" />
  </message>
  <message name="GetProductByNameSoapIn">
    <part name="parameters" element="s0:GetProductByName" />
  </message>
  <message name="GetProductByNameSoapOut">
    <part name="parameters" element="s0:GetProductByNameResponse" />
  </message>
  <message name="GetProductByIDSoapIn">
    <part name="parameters" element="s0:GetProductByID" />
  </message>
  <message name="GetProductByIDSoapOut">
    <part name="parameters" element="s0:GetProductByIDResponse" />
  </message>
  <message name="GetProductsSoapIn">
    <part name="parameters" element="s0:GetProducts" />
  </message>
  <message name="GetProductsSoapOut">
    <part name="parameters" element="s0:GetProductsResponse" />
  </message>
  <message name="CheckStockHttpGetIn">
    <part name="productID" type="s:string" />
  </message>
  <message name="CheckStockHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetOrdersHttpGetIn">
    <part name="CustomerID" type="s:string" />
  </message>
  <message name="GetOrdersHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetProductByNameHttpGetIn">
    <part name="productName" type="s:string" />
  </message>
  <message name="GetProductByNameHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetProductByIDHttpGetIn">
    <part name="id" type="s:string" />
  </message>
  <message name="GetProductByIDHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetProductsHttpGetIn" />
  <message name="GetProductsHttpGetOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="CheckStockHttpPostIn">
    <part name="productID" type="s:string" />
  </message>
  <message name="CheckStockHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetOrdersHttpPostIn">
    <part name="CustomerID" type="s:string" />
  </message>
  <message name="GetOrdersHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetProductByNameHttpPostIn">
    <part name="productName" type="s:string" />
  </message>
  <message name="GetProductByNameHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetProductByIDHttpPostIn">
    <part name="id" type="s:string" />
  </message>
  <message name="GetProductByIDHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <message name="GetProductsHttpPostIn" />
  <message name="GetProductsHttpPostOut">
    <part name="Body" element="s0:DataSet" />
  </message>
  <portType name="ACMEProductsSoap">
    <operation name="CheckStock">
      <documentation>This method allows access to product stock numbers</documentation>
      <input message="s0:CheckStockSoapIn" />
      <output message="s0:CheckStockSoapOut" />
    </operation>
    <operation name="GetOrders">
      <documentation>This method allows access to  order status information</documentation>
      <input message="s0:GetOrdersSoapIn" />
      <output message="s0:GetOrdersSoapOut" />
    </operation>
    <operation name="GetProductByName">
      <documentation>This method allows selection of products by name</documentation>
      <input message="s0:GetProductByNameSoapIn" />
      <output message="s0:GetProductByNameSoapOut" />
    </operation>
    <operation name="GetProductByID">
      <documentation>This method allows selection of products by ID</documentation>
      <input message="s0:GetProductByIDSoapIn" />
      <output message="s0:GetProductByIDSoapOut" />
    </operation>
    <operation name="GetProducts">
      <documentation>This method allows selection of all products</documentation>
      <input message="s0:GetProductsSoapIn" />
      <output message="s0:GetProductsSoapOut" />
    </operation>
  </portType>
  <portType name="ACMEProductsHttpGet">
    <operation name="CheckStock">
      <documentation>This method allows access to product stock numbers</documentation>
      <input message="s0:CheckStockHttpGetIn" />
      <output message="s0:CheckStockHttpGetOut" />
    </operation>
    <operation name="GetOrders">
      <documentation>This method allows access to  order status information</documentation>
      <input message="s0:GetOrdersHttpGetIn" />
      <output message="s0:GetOrdersHttpGetOut" />
    </operation>
    <operation name="GetProductByName">
      <documentation>This method allows selection of products by name</documentation>
      <input message="s0:GetProductByNameHttpGetIn" />
      <output message="s0:GetProductByNameHttpGetOut" />
    </operation>
    <operation name="GetProductByID">
      <documentation>This method allows selection of products by ID</documentation>
      <input message="s0:GetProductByIDHttpGetIn" />
      <output message="s0:GetProductByIDHttpGetOut" />
    </operation>
    <operation name="GetProducts">
      <documentation>This method allows selection of all products</documentation>
      <input message="s0:GetProductsHttpGetIn" />
      <output message="s0:GetProductsHttpGetOut" />
    </operation>
  </portType>
  <portType name="ACMEProductsHttpPost">
    <operation name="CheckStock">
      <documentation>This method allows access to product stock numbers</documentation>
      <input message="s0:CheckStockHttpPostIn" />
      <output message="s0:CheckStockHttpPostOut" />
    </operation>
    <operation name="GetOrders">
      <documentation>This method allows access to  order status information</documentation>
      <input message="s0:GetOrdersHttpPostIn" />
      <output message="s0:GetOrdersHttpPostOut" />
    </operation>
    <operation name="GetProductByName">
      <documentation>This method allows selection of products by name</documentation>
      <input message="s0:GetProductByNameHttpPostIn" />
      <output message="s0:GetProductByNameHttpPostOut" />
    </operation>
    <operation name="GetProductByID">
      <documentation>This method allows selection of products by ID</documentation>
      <input message="s0:GetProductByIDHttpPostIn" />
      <output message="s0:GetProductByIDHttpPostOut" />
    </operation>
    <operation name="GetProducts">
      <documentation>This method allows selection of all products</documentation>
      <input message="s0:GetProductsHttpPostIn" />
      <output message="s0:GetProductsHttpPostOut" />
    </operation>
  </portType>
  <binding name="ACMEProductsSoap" type="s0:ACMEProductsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="CheckStock">
      <soap:operation soapAction="http://www.ACMEDistribution.com/Products/CheckStock" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetOrders">
      <soap:operation soapAction="http://www.ACMEDistribution.com/Products/GetOrders" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProductByName">
      <soap:operation soapAction="http://www.ACMEDistribution.com/Products/GetProductByName" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProductByID">
      <soap:operation soapAction="http://www.ACMEDistribution.com/Products/GetProductByID" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProducts">
      <soap:operation soapAction="http://www.ACMEDistribution.com/Products/GetProducts" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ACMEProductsHttpGet" type="s0:ACMEProductsHttpGet">
    <http:binding verb="GET" />
    <operation name="CheckStock">
      <http:operation location="/CheckStock" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetOrders">
      <http:operation location="/GetOrders" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetProductByName">
      <http:operation location="/GetProductByName" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetProductByID">
      <http:operation location="/GetProductByID" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetProducts">
      <http:operation location="/GetProducts" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ACMEProductsHttpPost" type="s0:ACMEProductsHttpPost">
    <http:binding verb="POST" />
    <operation name="CheckStock">
      <http:operation location="/CheckStock" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetOrders">
      <http:operation location="/GetOrders" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetProductByName">
      <http:operation location="/GetProductByName" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetProductByID">
      <http:operation location="/GetProductByID" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetProducts">
      <http:operation location="/GetProducts" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ACMEProducts">
    <port name="ACMEProductsSoap" binding="s0:ACMEProductsSoap">
      <soap:address location="http://localhost/TestBed/Chapter10/listing10.14.asmx" />
    </port>
    <port name="ACMEProductsHttpGet" binding="s0:ACMEProductsHttpGet">
      <http:address location="http://localhost/TestBed/Chapter10/listing10.14.asmx" />
    </port>
    <port name="ACMEProductsHttpPost" binding="s0:ACMEProductsHttpPost">
      <http:address location="http://localhost/TestBed/Chapter10/listing10.14.asmx" />
    </port>
  </service>
</definitions>