Samples/TestBed/Chapter5/golfers.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT course EMPTY>
<!ATTLIST course
	city CDATA  #REQUIRED
	state CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!ELEMENT favoriteCourses (course+)>
<!ELEMENT firstName (#PCDATA)>
<!ELEMENT golfer (name, favoriteCourses)>
<!ATTLIST golfer
	skill CDATA #REQUIRED
	handicap CDATA  #REQUIRED
	clubs CDATA #REQUIRED
	id CDATA  #REQUIRED
>
<!ELEMENT golfers (golfer+)>
<!ELEMENT lastName (#PCDATA)>
<!ELEMENT name (firstName, lastName)>
