Samples/TestBed/Chapter5/northwind.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="http://www.northwind.com" xmlns:northwind="http://www.northwind.com" xmlns="http://www.w3.org/2001/XMLSchema">
	<annotation>
		<documentation> This Schema validates against northwind.xml</documentation>
	</annotation>
	<element name="root">
		<complexType>
			<sequence>
				<element ref="northwind:CustomersTable" maxOccurs="unbounded" />
				<element ref="northwind:OrdersTable" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>
	<element name="CustomersTable">
		<complexType>
			<sequence>
				<element name="CustomerID" type="string" />
				<element name="CompanyName" type="string" />
				<element name="ContactName" type="string" minOccurs="0" />
				<element name="ContactTitle" type="string" minOccurs="0" />
				<element name="Address" type="string" minOccurs="0" />
				<element name="City" type="string" minOccurs="0" />
				<element name="Region" type="string" minOccurs="0" />
				<element name="PostalCode" type="string" minOccurs="0" />
				<element name="Country" type="string" minOccurs="0" />
				<element name="Phone" type="string" minOccurs="0" />
				<element name="Fax" type="string" minOccurs="0" />
			</sequence>
		</complexType>
		<unique name="CustomerIDConstraint">
			<selector xpath="." />
			<field xpath="CustomerID" />
		</unique>
	</element>
	<element name="OrdersTable">
		<complexType>
			<sequence>
				<element name="OrderID" type="int" />
				<element name="CustomerID" type="string" minOccurs="0" />
				<element name="EmployeeID" type="int" minOccurs="0" />
				<element name="OrderDate" type="timeInstant" minOccurs="0" />
				<element name="RequiredDate" type="timeInstant" minOccurs="0" />
				<element name="ShippedDate" type="timeInstant" minOccurs="0" />
				<element name="ShipVia" type="int" minOccurs="0" />
				<element name="Freight" type="decimal" minOccurs="0" />
				<element name="ShipName" type="string" minOccurs="0" />
				<element name="ShipAddress" type="string" minOccurs="0" />
				<element name="ShipCity" type="string" minOccurs="0" />
				<element name="ShipRegion" type="string" minOccurs="0" />
				<element name="ShipPostalCode" type="string" minOccurs="0" />
				<element name="ShipCountry" type="string" minOccurs="0" />
			</sequence>
		</complexType>
		<unique name="OrderIDConstraint">
			<selector xpath="." />
			<field xpath="OrderID" />
		</unique>
		<keyref name="Relation1" refer="CustomerIDConstraint">
			<selector xpath="." />
			<field xpath="CustomerID" />
		</keyref>
	</element>
</schema>