Samples/TestBed/Chapter8/employee.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT contact (#PCDATA)>
<!ELEMENT dept (#PCDATA)>
<!ELEMENT employee (name, idnum)>
<!ELEMENT employees (employee)>
<!ELEMENT idnum (dept, contact, info)>
<!ELEMENT info EMPTY>
<!ATTLIST info
	sex CDATA #REQUIRED
	race CDATA #REQUIRED
>
<!ELEMENT name EMPTY>
<!ATTLIST name
	first CDATA #REQUIRED
	last CDATA #REQUIRED
>
