Samples/TestBed/Chapter8/schemaAttributes.xsd

<xsd:schema xmlns:msdata="urn:schemas-microsoft-com:xml-msdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" id="Xml">
	<xsd:element name="Customers">
		<xsd:complexType>
			<xsd:attribute name="CustomerID" type="xsd:string" />
			<xsd:attribute name="CompanyName" type="xsd:string" />
			<xsd:attribute name="ContactName" type="xsd:string" />
			<xsd:attribute name="ContactTitle" type="xsd:string" />
			<xsd:attribute name="Address" type="xsd:string" />
			<xsd:attribute name="City" type="xsd:string" />
			<xsd:attribute name="PostalCode" type="xsd:string" />
			<xsd:attribute name="Country" type="xsd:string" />
			<xsd:attribute name="Phone" type="xsd:string" />
			<xsd:attribute name="Fax" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>